<h1>Editing Dog</h1>

<div class="jumbotron">
  <h1 class="display-4"><%= @dog.name %></h1>
  <p class="lead"><%= @dog.birthdate.to_date %> Birthdate | <%= @dog.weight %> kg </p>
  <hr class="my-4">
<br>

<%= render 'form', dog: @dog %>
<br>
<%= link_to 'Show', @dog, class:"btn btn-secondary" %>

<%= link_to 'Back', dogs_path, class:"btn btn-secondary" %>