<div class="jumbotron">
  <h1 class="display-4"><%= @food.name %></h1>
  <p class="lead"><%= @food.food_type %>  | <%= @food.weight %> kg </p>
  <hr class="my-4">
<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @food.food_type %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @food.weight %>
</p>

<%= link_to 'Edit', edit_food_path(@food), class:"btn btn-secondary" %>
<%= link_to 'Back', foods_path, class:"btn btn-secondary" %>
</div>