<title></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<body>
<div class="container">
  <br/>
  <h1>About us</h1>
  <p> We are gladd to have you here</p>
  <%= yield %>
</div>
<!-- Optional JavaScript -->
</body>
